{% load static %}
<style>
  .hello-msg{
    font-size: 16px;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'images/Travelwifi-logo.png'%}" width="150" height="30" class="d-inline-block align-top" alt="Missing"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sims' %}">SIM Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'analytics' %}"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analytics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'analytics' %}">Packages</a>
          <a class="dropdown-item" href="#">Sims</a>
          <a class="dropdown-item" href="{% url 'plmn_sets' %}">EU PLMN Sets</a>
          <a class="dropdown-item" href="#">Borrowing</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Uploads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'upload' %}">VSIM Mgmt</a>
          <a class="dropdown-item" href="{% url 'upload_single_vsim' %}">Single VSIM Mgmt</a>
          <a class="dropdown-item" href="{% url 'upload_package' %}">Package Mgmt</a>
          <a class="dropdown-item" href="#">Borrowing</a>
        </div>
      </li>

    </ul>
<span class="hello-msg">Hello, {{request.user}} </span></li>
<span ><a class="hello-msg" href="{% url 'logout' %}">Log out</a></span></li>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>