		#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-sims{
			background-color: #894ea1;
		}


		#online-sims{
			background-color: #66a14e;
		}

		#pending-sims{
			background-color: #A24E66;
		}